.App {
  text-align: center;
}

.search {
  margin-top: 20px;
  width: 20%;
  padding: 10px;
  font-size: large;
  border-radius: 10px;
  border: 2px orangered solid;
  outline: none;
}

.container {
  border-radius: 10px;
  padding: 40px 10px;
  border: rgb(210, 238, 241) 2px solid;
  width: 20%;
  margin: 20px auto;
  background-color: rgb(216, 235, 238);
}

.country span {
  font-size: 24px;
  font-weight: bold;
}

.country sup {
  font-weight: bold;
  background-color: rgb(255, 60, 0);
  color: white;
  padding: 3px 4px;
  margin: 2px;
  border-radius: 4px;
}

.temp {
  margin: 20px 0 0 0;
  font-size: 45px;
  font-weight: bold;
}

.info {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
